compiled_destination: compiled_files
viki_path: ""
minify_js: true

development:
  destination: "development"
  viki_web: ""

staging:
  destination: "staging"
  viki_web: ""

production:
  destination: ""
  viki_web: "http://www.viki.com"