<html>
  <head><title>ViKiWidget Inline</title></head>
  <body style="background-color: #ccc;">
    <iframe src="<%= @viki_widget_url %>/index.html?mode=inline" width="300" height="285" frameBorder="0" scrolling="no"></iframe>
  </body>
</html>
