html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{
  margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;
}

table,caption,tbody,tfoot,thead,tr,th,td {
  padding:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;
}

body{
  line-height:1;color:black;background:white;
}

ol,ul{
  list-style:none;
}

q,blockquote{
  quotes:"" "";
}

q:before,q:after,blockquote:before,blockquote:after{
  content:"";
}

a {
  text-decoration: none;
}

a img{
  border:none;
}

body {
  background-color: #272F30;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

#header {
  padding: 5px;
}

#header img {
  display: inline-block;
}

#header h3 {
  display: inline;
}

#video_list {
  list-style-type: none;
}

#images {
  display: none;
}

#video_list li {
  display: inline;
}

body {

}

#container {
  width: 300px;
  height: 285px;
}

a, a:visited {
  color: #fff;
}

#video_container {
  position: relative;
}

#overlay {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  background:  url(../images/translucent_black.png);
  color: #fff;
  font-size: 16px;
}

#overlay a {
  text-decoration: none;
}
#video_container {
  cursor: pointer;
}

#video_screen img.thumbnail {
  width: 300px;
  height: 206px;
}

#images img.thumbnail {
  width: 300px;
  height: 206px;
}

div.flash_install {
  width: 300px;
  height: 206px;
  text-align: center;
}

div.flash_install img {
  margin-top: 60px;
}

#controls {
  text-align: center;
}

#controls a {
  font-size: 26px;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px
}

#controls a:hover {
  background-color: #D1E6EA;
  color: black;
}

#overlay div.link_title {
  margin-top: 5px;
  position: relative;
  padding:  5px;
  line-height: 120%;
}

#overlay div.link_title a {
  display: block;
  overflow: hidden;
  height: 40px;
  width: 290px;
  font-weight: bold;
}

#header a.view_more {
  color: #E5B051;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 27px;
}

#loading {
  z-index: 99;
  width: 300px;
  height: 285px;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  padding-top: 120px;
}